# https://github.com/torfsen/python-systemd-tutorial

# Place this unit file under:
#  /etc/systemd/system/
# Or create a link to it: sudo ln -sf ~/rpimenu.service /etc/systemd/system/rpimenu.service

# $ sudo chown root:root /etc/systemd/system/rpimenu.service
# $ sudo chmod 644 /etc/systemd/system/rpimenu.service

# The python script backing the service should reside under:
#  /usr/local/lib/rpi_menu_service/
# $ sudo chown root:root /usr/local/lib/rpi_menu_service/<menu service script name>
# $ sudo chmod 644 /usr/local/lib/rpi_menu_service/<menu service script name>

# Creating a service user
# $ sudo useradd -r -s /bin/false rpi_menu_service

# Useful commands:

# List unit files and show only ours
#  $ systemctl list-unit-files | grep rpimenu.service

# Reload the unit files so any recent changes are reflected in systemd
#  $ sudo systemctl daemon-reload

#  $ sudo systemctl restart rpi_menu_service
#  $ systemctl enable rpi_menu_service
#  $ systemctl start rpi_menu_service
#  $ systemctl stop rpi_menu_service
#  $ systemctl status rpi_menu_service

[Unit]
Description=RPI Menu System

[Service]
ExecStart=/usr/bin/python3 path/to/your/rpimenuservice.py
User=rpi_menu_service
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGTERM

[Install]
WantedBy=default.target